[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-wtf = "*"
werkzeug = "*"
flask-migrate = "==2.7.0"
flask-login = "*"
markupsafe = "*"
psycopg2 = "*"
flask-script = "==2.0.5"
python-dotenv = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.8"
