[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-wtf = "*"
werkzeug = "==0.16.0"
flask-migrate = "==2.7.0"
flask-login = "*"
markupsafe = "==2.0.1"
psycopg2 = "*"
flask-script = "==2.0.5"
python-dotenv = "*"
flask-mail = "*"
flask-uploads = "*"
wtforms = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
